<?xml version="1.0"?>
<robot name="ai2_bot2" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="ros2_control_hardware_type" default="mock_components"/>


	<xacro:include filename="$(find ai2_bot2_description)/xacro/robot.xacro"/>
	<xacro:include filename="$(find ai2_bot2_description)/xacro/ros2_control/body.xacro"/>
	<xacro:include filename="$(find ai2_bot2_description)/xacro/ros2_control/arm.xacro"/>
	<xacro:include filename="$(find inspire_description)/xacro/ros2_control/EG2-4C2.xacro"/>



	<ros2_control name="ai2_bot2_system" type="system">
		<hardware>
			<xacro:if value="${'$(arg ros2_control_hardware_type)' == 'gz'}">
				<plugin>gz_ros2_control/GazeboSimSystem</plugin>
			</xacro:if>
			<xacro:if value="${'$(arg ros2_control_hardware_type)' == 'mock_components'}">
				<plugin>mock_components/GenericSystem</plugin>
			</xacro:if>
			<xacro:if value="${'$(arg ros2_control_hardware_type)' == 'isaac'}">
				<plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
				<param name="joint_commands_topic">/isaac/joint_command</param>
				<param name="joint_states_topic">/isaac/joint_states</param>
				<param name="sum_wrapped_joint_states">false</param>
				<param name="initialize_commands_from_state">true</param>
			</xacro:if>
		</hardware>

		<xacro:body_interfaces/>
		<xacro:ai2_bot2_arm_interfaces name="left"/>
		<xacro:ai2_bot2_arm_interfaces name="right"/>

		<xacro:if value="${'$(arg type)' == 'inspire'}">
			<xacro:eg2_4c2_interfaces name="left"/>
			<xacro:eg2_4c2_interfaces name="right"/>
		</xacro:if>


	</ros2_control>


</robot>
