<?xml version="1.0" ?>
<!--
  Component-wise description for Quanta X1, used by
  robot_common_launch/launch/visualize/component.launch.py

  Supported types (arg "type"):
    - base (default)
    - arm (single left arm)
    - chassis (base with chassis_joints_movable:=true for wheel/caster inspection)
-->
<robot name="quanta_x1_component" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="type" default="base"/>
  <xacro:arg name="chassis_joints_movable" default="false"/>
  <xacro:property name="PI" value="3.1415926535897931"/>

  <xacro:if value="${'$(arg type)' == 'base'}">
    <xacro:include filename="$(find quanta_x1_description)/xacro/components/base.xacro"/>
    <xacro:include filename="$(find quanta_x1_description)/xacro/components/head.xacro"/>
    <xacro:QuantaX1Base joints_movable="$(arg chassis_joints_movable)"/>
    <xacro:QuantaX1Head/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'chassis'}">
    <xacro:include filename="$(find quanta_x1_description)/xacro/components/base.xacro"/>
    <xacro:include filename="$(find quanta_x1_description)/xacro/components/head.xacro"/>
    <xacro:QuantaX1Base joints_movable="true"/>
    <xacro:QuantaX1Head/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'arm'}">
    <xacro:include filename="$(find quanta_x1_description)/xacro/components/arm.xacro"/>
    <xacro:QuantaX1SingleArm name="" />
  </xacro:if>

</robot>
