[submodule "common"]
	path = common
	url = git@github.com:fiveages-sim/robot-descriptions-common.git
	branch = main
[submodule "manipulator/Dobot"]
	path = manipulator/Dobot
	url = git@github.com:fiveages-sim/robot-descriptions-dobot.git
	branch = main
[submodule "manipulator/Tianji"]
	path = manipulator/Tianji
	url = git@github.com:fiveages-sim/robot-descriptions-tianji.git
	branch = main
[submodule "manipulator/Rokae"]
	path = manipulator/Rokae
	url = git@github.com:fiveages-sim/robot-descriptions-rokae.git
	branch = main
[submodule "humanoid/FiveAges/fiveages_w1_description"]
	path = humanoid/FiveAges/fiveages_w1_description
	url = git@github.com:fiveages-sim/fa-w1-description.git
	branch = main
[submodule "humanoid/FiveAges/fiveages_w2_description"]
	path = humanoid/FiveAges/fiveages_w2_description
	url = git@github.com:fiveages-sim/fa-w2-description.git
	branch = main
[submodule "quadruped"]
	path = quadruped
	url = git@github.com:fiveages-sim/robot-descriptions-quadruped.git
[submodule "manipulator/ARX"]
	path = manipulator/ARX
	url = git@github.com:fiveages-sim/robot-descriptions-arx.git
[submodule "humanoid/Ubtech"]
	path = humanoid/Ubtech
	url = git@github.com:fiveages-sim/robot-descriptions-ubtech.git
[submodule "humanoid/Galbot"]
	path = humanoid/Galbot
	url = git@github.com:fiveages-sim/robot-descriptions-galbot.git
[submodule "humanoid/FiveAges/fiveages_w2_common_description"]
	path = humanoid/FiveAges/fiveages_w2_common_description
	url = git@github.com:fiveages-sim/fa-w2-components.git
	branch = main
[submodule "humanoid/FiveAges/fiveages_w2r_description"]
	path = humanoid/FiveAges/fiveages_w2r_description
	url = git@github.com:fiveages-sim/fa-w2r-description.git
	branch = main
