<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find galbot_one_description)/xacro/components/chassis.xacro"/>
  <xacro:include filename="$(find galbot_one_description)/xacro/components/body.xacro"/>
  <xacro:GalbotOneChassis enable_wheel_joints="false"/>
</robot>
