<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:include filename="$(find component_models)/xacro/omniwheel_10.xacro"/>

  <xacro:macro name="GalbotOneChassis" params="enable_wheel_joints:='false'">
    <!-- Robot Base Link -->
    <link name="base_link"/>
    <joint name="omni_chassis_joint" type="fixed">
      <parent link="base_link"/>
      <child link="omni_chassis_base_link"/>
    </joint>

    <link name="omni_chassis_base_link">
      <inertial>
        <origin xyz="0.00094269 0.00017452 0.09326"/>
        <mass value="8.7914"/>
        <inertia ixx="0.11584" ixy="-0.00011125" ixz="0.00045932" iyy="0.08221" iyz="2.8393E-06" izz="0.14295"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find galbot_one_description)/meshes/chassis/chassis.glb"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.40 0.40 0.20"/>
        </geometry>
      </collision>
    </link>

    <link name="omni_chassis_leg_mount_link"/>
    <joint name="omni_chassis_leg_mount_joint" type="fixed">
      <origin rpy="1.5707963267948966 0 0" xyz="0.134 -0.087 0.13"/>
      <parent link="omni_chassis_base_link"/>
      <child link="omni_chassis_leg_mount_link"/>
    </joint>

    <xacro:if value="${enable_wheel_joints}">
      <link name="wheel_1"/>
      <link name="wheel_2"/>
      <link name="wheel_3"/>
      <link name="wheel_4"/>
    </xacro:if>
    <xacro:unless value="${enable_wheel_joints}">
      <xacro:wheel wheel_name="wheel_1" enable_passive_wheels="false"/>
      <xacro:wheel wheel_name="wheel_2" enable_passive_wheels="false"/>
      <xacro:wheel wheel_name="wheel_3" enable_passive_wheels="false"/>
      <xacro:wheel wheel_name="wheel_4" enable_passive_wheels="false"/>
    </xacro:unless>

    <xacro:property name="wheel_joint_type" value="fixed"/>
    <xacro:if value="${enable_wheel_joints}">
      <xacro:property name="wheel_joint_type" value="continuous"/>
    </xacro:if>

    <joint name="wheel1_joint" type="${wheel_joint_type}">
      <origin rpy="0 0 ${-3*PI/4}" xyz="0.176493 0.176493 0.071834"/>
      <parent link="omni_chassis_base_link"/>
      <child link="wheel_1"/>
      <xacro:if value="${enable_wheel_joints}">
        <axis xyz="1 0 0"/>
      </xacro:if>
    </joint>

    <joint name="wheel2_joint" type="${wheel_joint_type}">
      <origin rpy="0 0 ${-PI/4}" xyz="-0.176493 0.176493 0.071834"/>
      <parent link="omni_chassis_base_link"/>
      <child link="wheel_2"/>
      <xacro:if value="${enable_wheel_joints}">
        <axis xyz="1 0 0"/>
      </xacro:if>
    </joint>

    <joint name="wheel3_joint" type="${wheel_joint_type}">
      <origin rpy="0 0 ${PI/4}" xyz="-0.176493 -0.176493 0.071834"/>
      <parent link="omni_chassis_base_link"/>
      <child link="wheel_3"/>
      <xacro:if value="${enable_wheel_joints}">
        <axis xyz="1 0 0"/>
      </xacro:if>
    </joint>

    <joint name="wheel4_joint" type="${wheel_joint_type}">
      <origin rpy="0 0 ${3*PI/4}" xyz="0.176493 -0.176493 0.071834"/>
      <parent link="omni_chassis_base_link"/>
      <child link="wheel_4"/>
      <xacro:if value="${enable_wheel_joints}">
        <axis xyz="1 0 0"/>
      </xacro:if>
    </joint>

    <link name="chassis_lidar">
      <visual>
        <geometry>
          <mesh filename="file://$(find sensor_models)/meshes/mid360/mid360.obj"/>
        </geometry>
      </visual>
    </link>
    <joint name="chassis_lidar_joint" type="fixed">
      <parent link="omni_chassis_base_link"/>
      <child link="chassis_lidar"/>
      <origin xyz="0.222 0 0.22772"/>
    </joint>
  </xacro:macro>
</robot>
