<?xml version="1.0"?>

<robot name="OpenArm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="type" default="bimanual"/>

  <!-- 根据type参数决定机器人类型 -->
  <xacro:if value="${'$(arg type)' == 'single'}">
    <xacro:include filename="$(find openarm_v10_description)/xacro/openarm_bimanual.xacro"/>
    <xacro:OpenArm name=""/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'bimanual'}">
    <xacro:include filename="$(find openarm_v10_description)/xacro/openarm_single.xacro"/>
    <xacro:OpenArm name=""/>
  </xacro:if>

</robot> 