<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="base_link"/>
    <joint name="omni_chassis_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="base_link"/>
      <child link="omni_chassis_base_link"/>
    </joint>
    <link name="omni_chassis_base_link">
      <inertial>
        <origin rpy="0 0 0" xyz="0.00094269 0.00017452 0.09326"/>
        <mass value="8.7914"/>
        <inertia ixx="0.11584" ixy="-0.00011125" ixz="0.00045932" iyy="0.08221" iyz="2.8393E-06" izz="0.14295"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://galbot_one_description/meshes/chassis/omni_chassis_base_link.stl"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://galbot_one_description/meshes/chassis/omni_chassis_base_link_convex.stl"/>
        </geometry>
      </collision>
    </link>
</robot>
