<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Single gripper configuration (was type2 before) -->
  <joint name="left_gripper_joint" type="fixed">
        <origin rpy="0 1.5707963267948966 0" xyz="${PI/2} ${PI/2}  0"/>
        <parent link="left_flange_mount_link"/>
        <child link="left_gripper_base_link"/>
      </joint>
      <link name="left_gripper_base_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0.0875969515032359 -0.000593766922509439 -0.000273353044587243"/>
          <mass value="0.229646651659589"/>
          <inertia ixx="8.60029243295527E-05" ixy="2.00063024143341E-06" ixz="2.85398505671959E-06" iyy="7.73254340691918E-05" iyz="-1.0856442426917E-07" izz="9.78281466602487E-05"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/gripper_hitbot_base_link_nomtl_ascii.obj"/>
          </geometry>
          <material name="">
            <color rgba="1 1 1 1"/>
          </material>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/gripper_hitbot_base_link_convex.stl"/>
          </geometry>
        </collision>
      </link>
      <link name="left_gripper_l1_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.121835 0 -0.02"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l1.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.121835 0 -0.02"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l1.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="left_gripper_l1_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.121835 0 0.02"/>
        <parent link="left_gripper_base_link"/>
        <child link="left_gripper_l1_link"/>
        <axis xyz="0 1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
      <link name="left_gripper_l2_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.1368 0 -0.01"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l2.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.1368 0 -0.01"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l2.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="left_gripper_l2_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.1368 0 0.01"/>
        <parent link="left_gripper_base_link"/>
        <child link="left_gripper_l2_link"/>
        <axis xyz="0 1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
      <link name="left_gripper_l3_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l3.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l3.stl"/>
          </geometry>
        </collision>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l4.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l4.stl"/>
          </geometry>
        </collision>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l5.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l5.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="left_gripper_l3_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.064985 0 0.00125"/>
        <parent link="left_gripper_l1_link"/>
        <child link="left_gripper_l3_link"/>
        <axis xyz="0 -1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
      <link name="left_gripper_r1_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.121835 0 0.02"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r1.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.121835 0 0.02"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r1.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="left_gripper_r1_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.121835 0 -0.02"/>
        <parent link="left_gripper_base_link"/>
        <child link="left_gripper_r1_link"/>
        <axis xyz="0 -1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
      <link name="left_gripper_r2_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.1368 0 0.01"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r2.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.1368 0 0.01"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r2.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="left_gripper_r2_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.1368 0 -0.01"/>
        <parent link="left_gripper_base_link"/>
        <child link="left_gripper_r2_link"/>
        <axis xyz="0 -1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
      <link name="left_gripper_r3_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r3.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r3.stl"/>
          </geometry>
        </collision>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r4.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r4.stl"/>
          </geometry>
        </collision>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r5.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r5.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="left_gripper_r3_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.064985 0 -0.00125"/>
        <parent link="left_gripper_r1_link"/>
        <child link="left_gripper_r3_link"/>
        <axis xyz="0 1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
    <joint name="right_gripper_joint" type="fixed">
        <origin rpy="0 1.5707963267948966 0" xyz="0 0 0"/>
        <parent link="right_flange_mount_link"/>
        <child link="right_gripper_base_link"/>
      </joint>
      <link name="right_gripper_base_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0.0875969515032359 -0.000593766922509439 -0.000273353044587243"/>
          <mass value="0.229646651659589"/>
          <inertia ixx="8.60029243295527E-05" ixy="2.00063024143341E-06" ixz="2.85398505671959E-06" iyy="7.73254340691918E-05" iyz="-1.0856442426917E-07" izz="9.78281466602487E-05"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/gripper_hitbot_base_link_nomtl_ascii.obj"/>
          </geometry>
          <material name="">
            <color rgba="1 1 1 1"/>
          </material>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/gripper_hitbot_base_link.stl"/>
          </geometry>
        </collision>
      </link>
      <link name="right_gripper_l1_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.121835 0 -0.02"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l1.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.121835 0 -0.02"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l1.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="right_gripper_l1_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.121835 0 0.02"/>
        <parent link="right_gripper_base_link"/>
        <child link="right_gripper_l1_link"/>
        <axis xyz="0 1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
      <link name="right_gripper_l2_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.1368 0 -0.01"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l2.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.1368 0 -0.01"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l2.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="right_gripper_l2_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.1368 0 0.01"/>
        <parent link="right_gripper_base_link"/>
        <child link="right_gripper_l2_link"/>
        <axis xyz="0 1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
      <link name="right_gripper_l3_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l3.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l3.stl"/>
          </geometry>
        </collision>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l4.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l4.stl"/>
          </geometry>
        </collision>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l5.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 -0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_l5.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="right_gripper_l3_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.064985 0 0.00125"/>
        <parent link="right_gripper_l1_link"/>
        <child link="right_gripper_l3_link"/>
        <axis xyz="0 -1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
      <link name="right_gripper_r1_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.121835 0 0.02"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r1.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.121835 0 0.02"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r1.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="right_gripper_r1_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.121835 0 -0.02"/>
        <parent link="right_gripper_base_link"/>
        <child link="right_gripper_r1_link"/>
        <axis xyz="0 -1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
      <link name="right_gripper_r2_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.1368 0 0.01"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r2.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.1368 0 0.01"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r2.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="right_gripper_r2_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.1368 0 -0.01"/>
        <parent link="right_gripper_base_link"/>
        <child link="right_gripper_r2_link"/>
        <axis xyz="0 -1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>
      <link name="right_gripper_r3_link">
        <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0"/>
          <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r3.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r3.stl"/>
          </geometry>
        </collision>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r4.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r4.stl"/>
          </geometry>
        </collision>
        <visual>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r5.obj"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0.18682 0 0.02125"/>
          <geometry>
            <mesh filename="package://galbot_one_description/meshes/gripper_hitbot/new_gripper_r5.stl"/>
          </geometry>
        </collision>
      </link>
      <joint name="right_gripper_r3_joint" type="revolute">
        <origin rpy="0 0 0" xyz="-0.064985 0 -0.00125"/>
        <parent link="right_gripper_r1_link"/>
        <child link="right_gripper_r3_link"/>
        <axis xyz="0 1 0"/>
        <limit effort="2" lower="0" upper="1" velocity="3"/>
      </joint>

  <!-- Tool Center Point -->
    <link name="left_gripper_tcp_link"/>
    <joint name="left_tcp_joint" type="fixed">
      <!--origin rpy="0 3.141592653589793 -1.5707963267948966" xyz="0 0 0.21579"/ -->
      <origin rpy="0 1.5707963267948966 0" xyz="-0.21579 0 0"/>
      <parent link="left_gripper_base_link"/>
      <child link="left_gripper_tcp_link"/>
      <axis xyz="0 0 0"/>
    </joint>
  <link name="right_gripper_tcp_link"/>
    <joint name="right_tcp_joint" type="fixed">
      <origin rpy="0 1.5707963267948966 0" xyz="-0.21579 0 0"/>
      <!--origin rpy="0 3.141592653589793 -1.5707963267948966" xyz="0 0 0.21579"/!-->
      <parent link="right_gripper_base_link"/>
      <child link="right_gripper_tcp_link"/>
      <axis xyz="0 0 0"/>
    </joint>
</robot>
