<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="torso_base_link">
      <inertial>
        <origin rpy="0 0 0" xyz="0.009452 -0.0097068 -0.041989"/>
        <mass value="1.5697"/>
        <inertia ixx="0.018397" ixy="-6.5897E-07" ixz="0.00030036" iyy="0.013058" iyz="0.00016843" izz="0.0082332"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://galbot_one_description/meshes/torso/torso_base_link.stl"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://galbot_one_description/meshes/torso/torso_base_link_convex.stl"/>
        </geometry>
      </collision>
    </link>
</robot>
