<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="moz1_arm" params="direction:=1">
    <xacro:if value="${direction == 1}">

      <link name="left01">
        <visual>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left01.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left01.STL" />
          </geometry>
        </collision>
      </link>

      <link name="left02">
        <visual>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left02.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left02.STL" />
          </geometry>
        </collision>
      </link>

      <joint name="LeftArm-1" type="revolute">
        <origin xyz="0.079 0 0" rpy="0 0 0" />
        <parent link="left01" />
        <child link="left02" />
        <axis xyz="0 1 0" />
        <limit lower="-2.967059728" upper="0.157079633" effort="0" velocity="0" />
      </joint>

      <link name="left03">
        <visual>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left03.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left03.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="LeftArm-2" type="revolute">
        <origin xyz="0 0 -0.113" rpy="0 0 0" />
        <parent link="left02" />
        <child link="left03" />
        <axis xyz="0 0 1" />
        <limit lower="-3.054326191" upper="3.054326191" effort="0" velocity="0" />
      </joint>
      <link name="left04">
        <visual>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left04.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left04.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="LeftArm-3" type="revolute">
        <origin xyz="0 0 -0.187" rpy="0 0 0" />
        <parent link="left03" />
        <child link="left04" />
        <axis xyz="1 0 0" />
        <limit lower="-2.251474735" upper="0.174532925" effort="0" velocity="0" />
      </joint>
      <link name="left05">
        <visual>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left05.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left05.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="LeftArm-4" type="revolute">
        <origin xyz="0 0 -0.101" rpy="0 0 0" />
        <parent link="left04" />
        <child link="left05" />
        <axis xyz="0 0 1" />
        <limit lower="-3.054326191" upper="3.054326191" effort="0" velocity="0" />
      </joint>
      <link name="left06">
        <visual>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left06.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left06.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="LeftArm-5" type="revolute">
        <origin xyz="0 0 -0.159" rpy="0 0 0" />
        <parent link="left05" />
        <child link="left06" />
        <axis xyz="0 1 0" />
        <limit lower="-1.658062789" upper="1.658062789" effort="0" velocity="0" />
      </joint>
      <link name="left07">
        <visual>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left07.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/left07.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="LeftArm-6" type="revolute">
        <origin xyz="0 0 -0.0905" rpy="0 0 0" />
        <parent link="left06" />
        <child link="left07" />
        <axis xyz="1 0 0" />
        <limit lower="-1.570796327" upper="1.570796327" effort="0" velocity="0" />
      </joint>
    </xacro:if>

    <xacro:if value="${direction == -1}">
      <link name="right01">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right01.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right01.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="RightArm-0" type="revolute">
        <origin xyz="-0.1257 0 0.2531" rpy="0 0 3.14159265359" />
        <parent link="waist03" />
        <child link="right01" />
        <axis xyz="1 0 0" />
        <limit lower="-2.094395102" upper="3.141592654" effort="0" velocity="0" />
      </joint>
      <link name="right02">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right02.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right02.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="RightArm-1" type="revolute">
        <origin xyz="0.079 0 0" rpy="0 0 0" />
        <parent link="right01" />
        <child link="right02" />
        <axis xyz="0 1 0" />
        <limit lower="-2.967059728" upper="0.157079633" effort="0" velocity="0" />
      </joint>
      <link name="right03">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right03.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right03.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="RightArm-2" type="revolute">
        <origin xyz="0 0 -0.113" rpy="0 0 0" />
        <parent link="right02" />
        <child link="right03" />
        <axis xyz="0 0 1" />
        <limit lower="-3.054326191" upper="3.054326191" effort="0" velocity="0" />
      </joint>
      <link name="right04">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right04.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right04.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="RightArm-3" type="revolute">
        <origin xyz="0 0 -0.187" rpy="0 0 0" />
        <parent link="right03" />
        <child link="right04" />
        <axis xyz="1 0 0" />
        <limit lower="-0.174532925" upper="2.251474735" effort="0" velocity="0" />
      </joint>
      <link name="right05">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right05.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right05.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="RightArm-4" type="revolute">
        <origin xyz="0 0 -0.101" rpy="0 0 0" />
        <parent link="right04" />
        <child link="right05" />
        <axis xyz="0 0 1" />
        <limit lower="-3.054326191" upper="3.054326191" effort="0" velocity="0" />
      </joint>
      <link name="right06">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right06.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right06.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="RightArm-5" type="revolute">
        <origin xyz="0 0 -0.159" rpy="0 0 0" />
        <parent link="right05" />
        <child link="right06" />
        <axis xyz="0 1 0" />
        <limit lower="-1.658062789" upper="1.658062789" effort="0" velocity="0" />
      </joint>
      <link name="right07">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right07.STL" />
          </geometry>
          <material name="">
            <color rgba="0.8 0.8 0.8 1.0" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 -3.14159265359" />
          <geometry>
            <mesh filename="file://$(find moz1_description)/meshes/right07.STL" />
          </geometry>
        </collision>
      </link>
      <joint name="RightArm-6" type="revolute">
        <origin xyz="0 0 -0.0905" rpy="0 0 0" />
        <parent link="right06" />
        <child link="right07" />
        <axis xyz="1 0 0" />
        <limit lower="-1.570796327" upper="1.570796327" effort="0" velocity="0" />
      </joint>
    </xacro:if>
  </xacro:macro>
</robot>
