<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="moz1_chassis" params="enable_wheel_joints:='true'">
    <link name="base_link">
      <inertial>
        <origin xyz="-0.061403 0.00062999 0.18169"/>
        <mass value="50"/>
        <inertia
            ixx="1.61101"
            ixy="0.00464"
            ixz="-0.16195"
            iyy="1.99174"
            iyz="0.00823"
            izz="1.07279"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find moz1_description)/meshes/chassis.glb" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find moz1_description)/meshes/chassis.glb" />
        </geometry>
      </collision>
    </link>

    <xacro:include filename="$(find component_models)/xacro/omniwheel_10.xacro"/>
    <!-- 根据enable_wheel_joints参数决定使用轮子宏还是空link -->
    <xacro:if value="${enable_wheel_joints}">
      <!-- 启用轮子关节时：使用空link -->
      <link name="wheel_1"/>
      <link name="wheel_2"/>
      <link name="wheel_3"/>
      <link name="wheel_4"/>
    </xacro:if>
    <xacro:unless value="${enable_wheel_joints}">
      <!-- 不启用轮子关节时：使用轮子宏创建完整的轮子link（不包含被动轮） -->
      <xacro:wheel wheel_name="wheel_1" enable_passive_wheels="false"/>
      <xacro:wheel wheel_name="wheel_2" enable_passive_wheels="false"/>
      <xacro:wheel wheel_name="wheel_3" enable_passive_wheels="false"/>
      <xacro:wheel wheel_name="wheel_4" enable_passive_wheels="false"/>
    </xacro:unless>


    <!-- 根据参数设置关节类型 -->
    <xacro:property name="wheel_joint_type" value="fixed"/>
    <xacro:if value="${enable_wheel_joints}">
      <xacro:property name="wheel_joint_type" value="continuous"/>
    </xacro:if>

    <joint name="wheel1_joint" type="${wheel_joint_type}">
      <origin xyz="0.2423 0.2423 0" rpy="0 0 ${-3*PI/4}" />
      <parent link="base_link"/>
      <child link="wheel_1"/>
      <xacro:if value="${enable_wheel_joints}">
        <axis xyz="1 0 0"/>
      </xacro:if>
    </joint>

    <joint name="wheel2_joint" type="${wheel_joint_type}">
      <origin xyz="-0.2423 0.2423 0" rpy="0 0 ${-PI/4}" />
      <parent link="base_link"/>
      <child link="wheel_2"/>
      <xacro:if value="${enable_wheel_joints}">
        <axis xyz="1 0 0"/>
      </xacro:if>
    </joint>

    <!-- 轮子定义 - 右前轮 -->
    <joint name="wheel3_joint" type="${wheel_joint_type}">
      <origin xyz="-0.2423 -0.2423 0" rpy="0.0 0.0 ${PI/4}" />
      <parent link="base_link"/>
      <child link="wheel_3"/>
      <xacro:if value="${enable_wheel_joints}">
        <axis xyz="1 0 0"/>
      </xacro:if>
    </joint>

    <!-- 轮子定义 - 左前轮 -->
    <joint name="wheel4_joint" type="${wheel_joint_type}">
      <origin xyz="0.2423 -0.2423 0" rpy="0.0 0.0 ${3*PI/4}" />
      <parent link="base_link"/>
      <child link="wheel_4"/>
      <xacro:if value="${enable_wheel_joints}">
        <axis xyz="1 0 0"/>
      </xacro:if>
    </joint>
  </xacro:macro>
</robot>
