<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agibot_omni_description)/xacro/omni_picker.xacro"/>

  <!-- Omni-picker + OCS2 eeFrame (left/right_eef) from agibot_omni_description; TCP z=0.14 on gripper_base. -->
  <xacro:macro name="Moz1OmniGripper" params="direction:=1 side:='' kinematic_only:=false">
    <xacro:if value="${side != ''}">
      <xacro:property name="gripper_side" value="${side}"/>
    </xacro:if>
    <xacro:unless value="${side != ''}">
      <xacro:if value="${direction == 1}">
        <xacro:property name="gripper_side" value="left"/>
      </xacro:if>
      <xacro:unless value="${direction == 1}">
        <xacro:property name="gripper_side" value="right"/>
      </xacro:unless>
    </xacro:unless>
    <xacro:if value="${gripper_side == 'left'}">
      <xacro:property name="ee_mount_joint" value="ee_left_joint"/>
      <xacro:property name="gripper_rpy_z" value="-3.14"/>
    </xacro:if>
    <xacro:unless value="${gripper_side == 'left'}">
      <xacro:property name="ee_mount_joint" value="ee_right_joint"/>
      <xacro:property name="gripper_rpy_z" value="0"/>
    </xacro:unless>

    <xacro:omni-picker name="${gripper_side}" kinematic_only="${kinematic_only}"/>

    <joint name="${ee_mount_joint}" type="fixed">
      <origin xyz="-0.01 0.001 -0.05" rpy="0 -3.14 ${gripper_rpy_z}"/>
      <parent link="${gripper_side}07"/>
      <child link="${gripper_side}_gripper_base"/>
    </joint>
  </xacro:macro>
</robot>
