<?xml version="1.0" encoding="utf-8"?>
<robot name="a1y" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="type" default="x"/>

  <xacro:if value="${'$(arg type)' == 'x'}">
    <xacro:include filename="$(find a1xy_description)/xacro/a1_x.xacro"/>
  </xacro:if>
  <xacro:unless value="${'$(arg type)' == 'x'}">
    <xacro:include filename="$(find a1xy_description)/xacro/a1_y.xacro"/>
  </xacro:unless>

  <xacro:Arm name=""/>
</robot>