<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="Hand" params="type stand direction prefix standalone:=false">

        <xacro:property name="brainco_dir"
                        value="${1 if direction == 'left' else (-1 if direction == 'right' else direction)}"/>
        <xacro:property name="stand_link_name" value="${prefix}stand_adapter"/>

        <link name="${stand_link_name}">
            <visual>
                <origin xyz="0 0 0" rpy="-1.57 -1.57 -1.57"/>
                <geometry>
                    <mesh filename="file://$(find nero_description)/meshes/stand_v1.glb"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="-1.57 -1.57 -1.57"/>
                <geometry>
                    <mesh filename="file://$(find nero_description)/meshes/stand_v1.glb"/>
                </geometry>
            </collision>
        </link>

        <xacro:unless value="${standalone}">
            <joint name="${prefix}stand_joint" type="fixed">
                <origin xyz="0.033 0 -0.0235" rpy="0 0 0"/>
                <parent link="${prefix}link7"/>
                <child link="${stand_link_name}"/>
            </joint>
        </xacro:unless>

        <xacro:if value="${'brainco' in type}">
            <xacro:include filename="$(find brainco_description)/xacro/revo2.xacro"/>

            <joint name="${prefix}hand_connection_joint" type="fixed">
                <origin xyz="0.01093 0 0" rpy="-1.57 3.14 -1.57"/>
                <parent link="${stand_link_name}"/>
                <child link="${prefix}hand_base"/>
            </joint>

            <xacro:BrainCoHand name="${prefix[:-1] if prefix.endswith('_') else prefix}"
                               direction="${brainco_dir}"
                               use_flange="false"/>
        </xacro:if>

        <xacro:if value="${'ag2f90' in type}">
            <xacro:include filename="$(find changingtek_description)/xacro/AG2F90-C.xacro"/>

            <joint name="${prefix}hand_connection_joint" type="fixed">
                <origin xyz="0.01093 0 0" rpy="-1.57 3.14 -1.57"/>
                <parent link="${stand_link_name}"/>
                <child link="${prefix}flange"/>
            </joint>

            <xacro:AG2F90-C name="${prefix[:-1] if prefix.endswith('_') else prefix}"
                            use_flange="true"
                            pad="default"/>
        </xacro:if>

        <xacro:if value="${'rg75' in type}">
            <xacro:include filename="$(find jodell_description)/xacro/RG75-300.xacro"/>

            <joint name="${prefix}hand_connection_joint" type="fixed">
                <origin xyz="0.01093 0 0" rpy="-1.57 3.14 -1.57"/>
                <parent link="${stand_link_name}"/>
                <child link="${prefix}flange"/>
            </joint>

            <xacro:RG75-300 name="${prefix[:-1] if prefix.endswith('_') else prefix}"
                            use_flange="true"/>
        </xacro:if>

    </xacro:macro>
</robot>