<?xml version="1.0"?>
<robot name="Nero" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="type" default="dual"/>
    <xacro:arg name="collider" default="simple"/>
    <xacro:arg name="scene" default="world"/>

    <xacro:property name="type_arg" value="$(arg type)"/>
    <xacro:property name="stand_type" value="v1"/>

    <xacro:property name="selected_arm_config" value="left"/>
    <xacro:property name="selected_gripper_type" value="none"/>
    <xacro:property name="selected_arm_style" value="default"/>

    <xacro:if value="${type_arg == 'left'}">
        <xacro:property name="selected_arm_config" value="left"/>
    </xacro:if>
    <xacro:if value="${type_arg == 'right'}">
        <xacro:property name="selected_arm_config" value="right"/>
    </xacro:if>
    <xacro:if value="${type_arg == 'dual'}">
        <xacro:property name="selected_arm_config" value="dual"/>
        <xacro:property name="selected_gripper_type" value="none"/>
        <xacro:property name="selected_arm_style" value="dual_config"/>
    </xacro:if>

    <xacro:if value="${type_arg == 'brainco'}">
        <xacro:property name="selected_arm_config" value="left"/>
        <xacro:property name="selected_gripper_type" value="brainco"/>
    </xacro:if>
    <xacro:if value="${type_arg == 'ag2f90'}">
        <xacro:property name="selected_arm_config" value="left"/>
        <xacro:property name="selected_gripper_type" value="ag2f90"/>
    </xacro:if>
    <xacro:if value="${type_arg == 'rg75'}">
        <xacro:property name="selected_arm_config" value="left"/>
        <xacro:property name="selected_gripper_type" value="rg75"/>
    </xacro:if>

    <xacro:if value="${type_arg == 'dual_brainco'}">
        <xacro:property name="selected_arm_config" value="dual"/>
        <xacro:property name="selected_gripper_type" value="brainco"/>
        <xacro:property name="selected_arm_style" value="dual_config"/>
    </xacro:if>
    <xacro:if value="${type_arg == 'dual_ag2f90'}">
        <xacro:property name="selected_arm_config" value="dual"/>
        <xacro:property name="selected_gripper_type" value="ag2f90"/>
        <xacro:property name="selected_arm_style" value="dual_config"/>
    </xacro:if>
    <xacro:if value="${type_arg == 'dual_rg75'}">
        <xacro:property name="selected_arm_config" value="dual"/>
        <xacro:property name="selected_gripper_type" value="rg75"/>
        <xacro:property name="selected_arm_style" value="dual_config"/>
    </xacro:if>
    <xacro:if value="${type_arg == 'stand'}">
        <xacro:property name="selected_arm_config" value="stand_only"/>
    </xacro:if>

    <xacro:include filename="$(find nero_description)/xacro/nero.xacro"/>

    <xacro:if value="${'$(arg scene)' == 'world'}">
        <link name="world"/>
    </xacro:if>

    <xacro:if value="${selected_arm_config == 'stand_only'}">
        <xacro:include filename="$(find nero_description)/xacro/hand.xacro"/>
        <xacro:Hand type="brainco" stand="${stand_type}" direction="left" prefix="left_" standalone="true"/>
        <joint name="world_fixed" type="fixed">
            <parent link="world"/>
            <child link="left_stand_adapter"/>
        </joint>
    </xacro:if>

    <xacro:if value="${selected_arm_config == 'left'}">
        <link name="base_link"/>
        <xacro:if value="${'$(arg scene)' == 'world'}">
            <joint name="world_fixed" type="fixed">
                <parent link="world"/>
                <child link="base_link"/>
            </joint>
        </xacro:if>
        <joint name="left_base_joint" type="fixed">
            <parent link="base_link"/>
            <child link="left_base_link"/>
            <origin xyz="0 0 0" rpy="0 0 3.14159"/>
        </joint>
        <xacro:Nero type="${selected_gripper_type}" stand="${stand_type}" direction="left" prefix="left_"
                    is_arm_only="${selected_gripper_type == 'none'}"/>
    </xacro:if>

    <xacro:if value="${selected_arm_config == 'right'}">
        <link name="base_link"/>
        <xacro:if value="${'$(arg scene)' == 'world'}">
            <joint name="world_fixed" type="fixed">
                <parent link="world"/>
                <child link="base_link"/>
            </joint>
        </xacro:if>
        <joint name="right_base_joint" type="fixed">
            <parent link="base_link"/>
            <child link="right_base_link"/>
            <origin xyz="0 0 0" rpy="0 0 3.14159"/>
        </joint>
        <xacro:Nero type="${selected_gripper_type}" stand="${stand_type}" direction="right" prefix="right_"
                    is_arm_only="${selected_gripper_type == 'none'}"/>
    </xacro:if>

    <xacro:if value="${selected_arm_config == 'dual'}">
        <link name="base_link"/>
        <xacro:if value="${'$(arg scene)' == 'world'}">
            <joint name="world_fixed" type="fixed">
                <parent link="world"/>
                <child link="base_link"/>
            </joint>
        </xacro:if>

        <joint name="left_arm_base_joint" type="fixed">
            <parent link="base_link"/> <child link="left_base_link"/>
            <origin xyz="0.0 0.1 0" rpy="1.5708 0 3.14159"/>
        </joint>

        <joint name="right_arm_base_joint" type="fixed">
            <parent link="base_link"/> <child link="right_base_link"/>
            <origin xyz="0.0 -0.1 0" rpy="-1.5708 0 -3.14159"/>
        </joint>

        <xacro:Nero type="${selected_gripper_type}" stand="${stand_type}" direction="left" prefix="left_"
                    is_arm_only="${selected_gripper_type == 'none'}"/>
        <xacro:Nero type="${selected_gripper_type}" stand="${stand_type}" direction="right" prefix="right_"
                    is_arm_only="${selected_gripper_type == 'none'}"/>
    </xacro:if>

</robot>