<?xml version="1.0" encoding="utf-8" ?>
<robot name="aloha v2" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="aloha_v2" params="chassis:=tracer enable_master:=false">
		<xacro:include filename="$(find piper_description)/xacro/Piper.xacro"/>
		<xacro:include filename="$(find piper_description)/xacro/eefs.xacro"/>
		<xacro:include filename="$(find agilex_aloha_description)/xacro/body/v2.xacro"/>

		<xacro:if value="${chassis == 'tracer'}">
			<xacro:include filename="$(find agilex_aloha_description)/xacro/base/tracer.xacro"/>
		</xacro:if>

		<xacro:if value="${chassis == 'tracer_v2'}">
			<xacro:include filename="$(find agilex_aloha_description)/xacro/base/tracer_v2.xacro"/>
		</xacro:if>

		<xacro:Piper name="left"/>
		<xacro:PiperEndEffectors name="left" type="gripper" camera_type="true" arms="piper"/>
		<xacro:Piper name="right"/>
		<xacro:PiperEndEffectors name="right" type="gripper" camera_type="true" arms="piper"/>

		<!--***************************** back-left ****************************** -->
		<xacro:if value="${enable_master}">
			<xacro:Piper name="bl"/>
			<xacro:PiperEndEffectors name="bl" type="gripper" camera_type="false" arms="piper"/>
			<joint name="bl_base_joint" type="fixed">
				<origin xyz="-0.379 0.3075 0.733"/>
				<parent link="body_Link"/>
				<child link="bl_base_link"/>
				<axis xyz="0 0 1"/>
			</joint>
		</xacro:if>

		<!--***************************** back-right ****************************** -->
		<xacro:if value="${enable_master}">
			<xacro:Piper name="br"/>
			<xacro:PiperEndEffectors name="br" type="gripper" camera_type="false" arms="piper"/>
			<joint name="br_base_joint" type="fixed">
				<origin xyz="-0.379 -0.3075 0.733"/>
				<parent link="body_Link"/>
				<child link="br_base_link"/>
				<axis xyz="0 0 1"/>
			</joint>
		</xacro:if>
	</xacro:macro>
</robot>

