<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="A1Lite" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="PI" value="3.1415926535897931"/>
	<xacro:arg name="enable_wheel_joints" default="false"/>

	<xacro:include filename="$(find galaxea_r1lite_description)/xacro/components/chassis.xacro"/>
	<xacro:Chassis enable_wheel_joints="$(arg enable_wheel_joints)"/>

	<xacro:include filename="$(find galaxea_r1lite_description)/xacro/components/torso.xacro"/>
	<xacro:Torso/>

	<xacro:include filename="$(find galaxea_r1lite_description)/xacro/components/camera.xacro"/>

	<xacro:arg name="type" default="x"/>

	<xacro:if value="${'$(arg type)' == 'x'}">
		<xacro:include filename="$(find galaxea_a1_description)/xacro/a1_x.xacro"/>
	</xacro:if>
	<xacro:if value="${'$(arg type)' == 'y'}">
		<xacro:include filename="$(find galaxea_a1_description)/xacro/a1_y.xacro"/>
	</xacro:if>

	<xacro:Arm name="left"/>
	<xacro:camera name="left"/>

	<xacro:Arm name="right"/>
	<xacro:camera name="right"/>
</robot>
