<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="AgileX Aloha">
  <xacro:arg name="ros2_control_hardware_type" default="mock_components" />
  <xacro:arg name="type" default="v2"/>

  <xacro:if value="${'$(arg type)' == 'v2'}">
    <xacro:include filename="$(find agilex_aloha_description)/xacro/aloha_v2.xacro"/>
    <xacro:aloha_v2/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'v2-1'}">
    <xacro:include filename="$(find agilex_aloha_description)/xacro/aloha_v2.xacro"/>
    <xacro:aloha_v2 chassis="tracer_v2"/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'v2-master'}">
    <xacro:include filename="$(find agilex_aloha_description)/xacro/aloha_v2.xacro"/>
    <xacro:aloha_v2 chassis="tracer_v2" enable_master="true"/>
  </xacro:if>

  <xacro:arg name="gazebo" default="false" />
  <xacro:if value="$(arg gazebo)">
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find agilex_aloha_description)/config/ros2_control/ros2_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
