<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="flange" params="name">
    <xacro:property name="prefix" value="${name + '_' if name else ''}"/>
    <link name="${prefix}flange">
      <inertial>
        <origin xyz="3.45207417426861E-05 -0.000141443719270944 0.0415526970475172"/>
        <mass value="0.310447980489903"/>
        <inertia
            ixx="0.000404388005636034"
            ixy="-6.8589621466727E-08"
            ixz="5.84928727366459E-08"
            iyy="0.000296494720930083"
            iyz="-1.79342738400452E-07"
            izz="0.000212447969282029"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find changingtek_description)/meshes/AG2F90-C/visual/gripper_base.obj"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find changingtek_description)/meshes/AG2F90-C/collision/gripper_base.obj"/>
        </geometry>
      </collision>
    </link>
    <joint name="flange_joint">
      <origin xyz="0 0 0.0195"/>
    </joint>

  </xacro:macro>
</robot>