<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Open_Nero">
  <xacro:arg name="ros2_control_hardware_type" default="mock_components"/>
  <xacro:arg name="type" default="gripper"/>
  <xacro:arg name="left_type" default=""/>
  <xacro:arg name="right_type" default=""/>
  <xacro:arg name="gazebo" default="false"/>

  <link name="world"/>
  <joint name="world_fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <xacro:include filename="$(find open_nero_description)/xacro/robot.xacro"/>
  <xacro:include filename="$(find robot_common_launch)/xacro/ros2_control/simulation_hardware.xacro"/>
  <xacro:include filename="$(find nero_description)/xacro/ros2_control/interfaces.xacro"/>
  <xacro:include filename="$(find nero_description)/xacro/ros2_control/end_effector_interfaces.xacro"/>

  <xacro:property name="type_arg" value="$(arg type)"/>
  <xacro:property name="left_type_arg" value="$(arg left_type)"/>
  <xacro:property name="right_type_arg" value="$(arg right_type)"/>
  <xacro:property name="effective_left_type" value="${left_type_arg if left_type_arg != '' else type_arg}"/>
  <xacro:property name="effective_right_type" value="${right_type_arg if right_type_arg != '' else type_arg}"/>

  <ros2_control name="Open_Nero_System" type="system">
    <hardware>
      <xacro:simulation_hardware_plugin hardware_type="$(arg ros2_control_hardware_type)"/>
    </hardware>

    <xacro:nero_interfaces name="left"/>
    <xacro:nero_interfaces name="right"/>
    <xacro:unless value="${effective_left_type == 'none' or effective_left_type == 'revo2'}">
      <xacro:nero_gripper_interfaces name="left"/>
    </xacro:unless>
    <xacro:unless value="${effective_right_type == 'none' or effective_right_type == 'revo2'}">
      <xacro:nero_gripper_interfaces name="right"/>
    </xacro:unless>
    <xacro:if value="${effective_left_type == 'revo2' or effective_right_type == 'revo2'}">
      <xacro:include filename="$(find brainco_description)/xacro/ros2_control/revo2.xacro"/>
    </xacro:if>
    <xacro:if value="${effective_left_type == 'revo2'}">
      <xacro:revo2_interfaces name="left_hand"/>
    </xacro:if>
    <xacro:if value="${effective_right_type == 'revo2'}">
      <xacro:revo2_interfaces name="right_hand"/>
    </xacro:if>
  </ros2_control>

  <xacro:if value="$(arg gazebo)">
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find open_nero_description)/config/ros2_control/ros2_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
