<?xml version="1.0" encoding="utf-8"?>
<robot name="aloha_v1" xmlns:xacro="http://ros.org/wiki/xacro">

	<link name="body_link">
		<inertial>
			<origin xyz="0.015107 -0.027922 0.00013672"/>
			<mass value="3.736"/>
			<inertia ixx="0.097545" ixy="-9.2609E-06" ixz="0.00015366" iyy="0.045841" iyz="-0.0020459" izz="0.084773"/>
		</inertial>
		<visual>
			<geometry>
				<mesh filename="file://$(find agilex_aloha_description)/meshes/aloha_v1/body_link.obj"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="file://$(find agilex_aloha_description)/meshes/aloha_v1/body_link.obj"/>
			</geometry>
		</collision>
	</link>

	<joint name="box2" type="fixed">
		<origin xyz="0 0 0.15"/>
		<parent link="base_footprint"/>
		<child link="body_link"/>
	</joint>


	<link name="camera_base_link">
		<inertial>
			<origin xyz="-0.00862442289199344 -5.31672329634469E-08 0.170092831004467"/>
			<mass value="0.336269569361489"/>
			<inertia
					ixx="0.00580628296841397"
					ixy="3.98435937176716E-10"
					ixz="-2.42350052877161E-05"
					iyy="0.00582602200678083"
					iyz="2.9180594404216E-10"
					izz="0.000186894283496158"/>
		</inertial>
		<visual>
			<geometry>
				<mesh filename="file://$(find agilex_aloha_description)/meshes/aloha_v1/camera_support.obj"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="file://$(find agilex_aloha_description)/meshes/aloha_v1/camera_support.obj"/>
			</geometry>
		</collision>
	</link>

	<joint name="camera_to_box1" type="fixed">
		<origin xyz="0.18 0 0.626"/>
		<parent link="body_link"/>
		<child link="camera_base_link"/>
		<axis/>
	</joint>

	<link name="camera_link1">
		<inertial>
			<origin xyz="-0.0292387906463559 0.000126439620513119 -0.000724950892729725"/>
			<mass value="0.0877001598245188"/>
			<inertia
					ixx="7.77343248794949E-05"
					ixy="2.44922634558373E-07"
					ixz="1.73341747661077E-08"
					iyy="9.73521513961785E-06"
					iyz="-2.86133018917868E-09"
					izz="7.74948757118157E-05"/>
		</inertial>
		<visual>
			<geometry>
				<mesh filename="file://$(find agilex_aloha_description)/meshes/aloha_v1/camera_stand.obj"/>
			</geometry>
		</visual>
		<visual>
			<geometry>
				<mesh filename="file://$(find sensor_models)/meshes/d435/d435.obj"/>
			</geometry>
		</visual>
	</link>

	<joint name="camera_joint1" type="fixed">
		<origin xyz="0.071198 0 0.10384" rpy="0 0.26931 0"/>
		<parent link="camera_base_link"/>
		<child link="camera_link1"/>
	</joint>

	<link name="camera_link2">
		<inertial>
			<origin xyz="-0.0292307474530399 0.000126438461566014 -0.000753459207498031"/>
			<mass value="0.0877001605148491"/>
			<inertia
					ixx="7.77338961798341E-05"
					ixy="2.44922367048273E-07"
					ixz="1.80373226250749E-08"
					iyy="9.73521616927317E-06"
					iyz="-2.86130173714525E-09"
					izz="7.74953085203139E-05"/>
		</inertial>
		<visual>
			<geometry>
				<mesh filename="file://$(find agilex_aloha_description)/meshes/aloha_v1/camera_stand.obj"/>
			</geometry>
		</visual>
		<visual>
			<geometry>
				<mesh filename="file://$(find sensor_models)/meshes/d435/d435.obj"/>
			</geometry>
		</visual>
	</link>

	<joint name="camera_joint2" type="fixed">
		<origin xyz="-0.14 0 0.5" rpy="0 0.011358 0"/>
		<parent link="camera_link1"/>
		<child link="camera_link2"/>
	</joint>

	<link name="lidar_link">
		<inertial>
			<origin xyz="-0.0022133 -0.00090659 0.025996"/>
			<mass value="0.048617"/>
			<inertia
					ixx="1.0358E-05"
					ixy="9.2377E-09"
					ixz="-2.6386E-07"
					iyy="1.0387E-05"
					iyz="-2.6377E-07"
					izz="1.7919E-05"/>
		</inertial>
		<visual>
			<geometry>
				<mesh filename="file://$(find sensor_models)/meshes/mid360/mid360.obj"/>
			</geometry>
		</visual>
	</link>

	<joint name="lidar_joint" type="fixed">
		<origin xyz="0.22937 0 0.040672"/>
		<parent link="body_link"/>
		<child link="lidar_link"/>
	</joint>

	<joint name="fl_base_joint" type="fixed">
		<origin xyz="0.233 0.3 0.775"/>
		<parent link="base_footprint"/>
		<child link="left_base_link"/>
		<axis xyz="0.0 0.0 1.0"/>
	</joint>

	<joint name="fr_base_joint" type="fixed">
		<origin xyz="0.233 -0.3 0.775"/>
		<parent link="base_footprint"/>
		<child link="right_base_link"/>
		<axis xyz="0.0 0.0 1.0"/>
	</joint>
</robot>