<?xml version="1.0" encoding="utf-8"?>
<robot name="aloha_v1" xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- aloha base -->
	<link name="body_Link">
		<inertial>
			<origin xyz="0.015107 -0.027922 0.00013672"/>
			<mass value="3.736"/>
			<inertia ixx="0.097545" ixy="-9.2609E-06" ixz="0.00015366" iyy="0.045841" iyz="-0.0020459" izz="0.084773"/>
		</inertial>
		<visual>
			<geometry>
				<mesh filename="file://$(find agilex_aloha_description)/meshes/aloha_v2/body.obj"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="file://$(find agilex_aloha_description)/meshes/aloha_v2/body.obj"/>
			</geometry>
		</collision>
	</link>

	<joint name="body_joint" type="fixed">
		<origin xyz="0 0 0.168"/>
		<parent link="base_footprint"/>
		<child link="body_Link"/>
		<axis/>
	</joint>

	<link name="camera_link">
		<inertial>
			<origin xyz="-0.011443 2.4833E-05 -0.0012615"/>
			<mass value="0.020053"/>
			<inertia
					ixx="1.1181E-05"
					ixy="1.204E-07"
					ixz="4.9068E-08"
					iyy="2.2587E-06"
					iyz="5.7637E-07"
					izz="1.0097E-05"/>
		</inertial>
		<visual>
			<geometry>
				<mesh filename="file://$(find sensor_models)/meshes/dabai/dabai.obj"/>
			</geometry>
		</visual>
	</link>

	<joint name="camera_joint" type="fixed">
		<origin xyz="0.24007 0 0.91661" rpy="0 0.825 0"/>
		<parent link="body_Link"/>
		<child link="camera_link"/>
	</joint>

	<link name="lidar_link">
		<inertial>
			<origin xyz="-0.0022133 -0.00090659 0.025996"/>
			<mass value="0.048617"/>
			<inertia
					ixx="1.0358E-05"
					ixy="9.2377E-09"
					ixz="-2.6386E-07"
					iyy="1.0387E-05"
					iyz="-2.6377E-07"
					izz="1.7919E-05"/>
		</inertial>
		<visual>
			<geometry>
				<mesh filename="file://$(find sensor_models)/meshes/livox/mid360.glb"/>
			</geometry>
		</visual>
	</link>

	<joint name="lidar_joint" type="fixed">
		<origin xyz="0.27289 0 0.01488"/>
		<parent link="body_Link"/>
		<child link="lidar_link"/>
	</joint>

	<joint name="left_base_joint" type="fixed">
		<origin xyz="0.23875 0.3 0.607"/>
		<parent link="body_Link"/>
		<child link="left_base_link"/>
		<axis xyz="0 0 1"/>
	</joint>

	<joint name="right_base_joint" type="fixed">
		<origin xyz="0.23875 -0.3 0.607"/>
		<parent link="body_Link"/>
		<child link="right_base_link"/>
		<axis xyz="0 0 1"/>
	</joint>
</robot>