<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="moz1_body_interfaces">
    <xacro:macro name="position_joint_iface" params="joint_name initial_value:=0.0">
      <joint name="${joint_name}">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_value}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </xacro:macro>

    <xacro:position_joint_iface joint_name="body_joint1"/>
    <xacro:position_joint_iface joint_name="body_joint2"/>
    <xacro:position_joint_iface joint_name="body_joint3"/>
    <xacro:position_joint_iface joint_name="body_joint4"/>
    <xacro:position_joint_iface joint_name="body_joint5"/>
    <xacro:position_joint_iface joint_name="body_joint6"/>
  </xacro:macro>

</robot>
