<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="openarm_v10_system" params="name ros2_control_hardware_type">
    <xacro:include filename="$(find openarm_description)/xacro/ros2_control/openarm_arm_gripper_system.xacro"/>
    <xacro:include filename="$(find openarm_description)/xacro/ros2_control/hardware_system.xacro"/>

    <!-- Hardware Interface -->
    <ros2_control name="$openarm_v10_system" type="system">
      <xacro:hardware_system ros2_control_hardware_type="${ros2_control_hardware_type}"/>

      <!-- Left Arm Joints -->
      <xacro:openarm_arm_gripper_system name="left" />


      <!-- Right Arm Joints -->
      <xacro:openarm_arm_gripper_system name="right" />
    </ros2_control>

  </xacro:macro>
</robot>
