<?xml version="1.0" ?>
<!-- =================================================================================== -->
<!-- |    Complete Robot Description for Agibot G1                                     | -->
<!-- |    This file includes the base robot structure and both arms                    | -->
<!-- =================================================================================== -->
<robot name="SpiritAI_Moz1" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="PI" value="3.1415926535897931"/>
	<xacro:arg name="type" default="base"/>

	<xacro:if value="${'$(arg type)' == 'base'}">
		<!-- Include Chassis -->
		<xacro:include filename="$(find arx_lift_description)/xacro/components/mobile_base.xacro"/>
		<xacro:MobileBase/>

		<xacro:include filename="$(find arx_lift_description)/xacro/components/body.xacro"/>
		<xacro:Body/>
	</xacro:if>

	<xacro:if value="${'$(arg type)' == 'chassis'}">
		<xacro:include filename="$(find moz1_description)/xacro/components/chassis.xacro"/>
		<xacro:moz1_chassis enable_wheel_joints="true"/>
	</xacro:if>

	<xacro:if value="${'$(arg type)' == 'wheel'}">
		<!-- Include Wheel -->
		<xacro:include filename="$(find component_models)/xacro/omniwheel_10.xacro"/>
		<xacro:wheel wheel_name="wheel" enable_passive_wheels="true"/>
		<link name="base_link"/>
		<joint name="base_joint" type="fixed">
			<parent link="base_link" />
			<child link="wheel" />
		</joint>
	</xacro:if>
</robot>
