<?xml version="1.0"?>
<robot name="MOZ1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Full robot viz: fixed wheel joints + omniwheel_10 mesh (same as galbot_foxtrot). -->
  <xacro:arg name="enable_wheel_joints" default="false"/>
  <xacro:arg name="type" default="omni_gripper"/>

  <material name="black_color">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>
  <material name="dark_gray">
    <color rgba="0.216 0.220 0.224 1.0"/>
  </material>
  <material name="light_gray">
    <color rgba="0.392 0.400 0.404 1.0"/>
  </material>
  <xacro:include filename="$(find moz1_description)/xacro/components/chassis.xacro"/>
  <xacro:include filename="$(find moz1_description)/xacro/components/body.xacro"/>
  <xacro:include filename="$(find moz1_description)/xacro/components/arm.xacro"/>
  <xacro:include filename="$(find moz1_description)/xacro/components/head.xacro"/>

  <xacro:Moz1Chassis enable_wheel_joints="$(arg enable_wheel_joints)"/>
  <xacro:Moz1Body parent_link="base_link"/>
  <xacro:Moz1Arm parent_link="waist03" direction="1"/>
  <xacro:Moz1Arm parent_link="waist03" direction="-1"/>
  <xacro:Moz1Head parent_link="waist03"/>
</robot>
