<?xml version="1.0" encoding="utf-8"?>
<robot name="MOZ1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find moz1_description)/xacro/components/chassis.xacro"/>
  <xacro:include filename="$(find moz1_description)/xacro/components/body.xacro"/>
  <xacro:include filename="$(find moz1_description)/xacro/components/arm.xacro"/>

  <xacro:moz1_chassis enable_wheel_joints="false"/>
  <xacro:moz1_body/>
  <xacro:moz1_arm direction="1"/>

  <joint name="LeftArm-0" type="revolute">
    <origin xyz="0 0.1257 0.2531" rpy="0 0 0" />
    <parent link="waist03" />
    <child link="left01" />
    <axis xyz="1 0 0" />
    <limit lower="-3.141592654" upper="2.094395102" effort="0" velocity="0" />
  </joint>

  <xacro:moz1_arm direction="-1"/>
</robot>