<?xml version="1.0"?>

<robot name="Inspire EG2 single" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:arg name="type" default="4c2"/>

  <!-- 根据type参数决定使用哪种夹爪 -->
  <xacro:if value="${'$(arg type)' == '4c2'}">
    <xacro:include filename="$(find inspire_eg2_description)/xacro/eg2_4c2.xacro"/>
    <xacro:Gripper name=""/>
  </xacro:if>
</robot>
